{% extends "base.html" %}

{% block section %}
    <h2>{% if operacion %}{{ operacion }}{% endif %}</h2>
    <hr>
{% endblock section %}

{% block maincontent %}
  <form enctype="multipart/form-data" method="post">{% csrf_token %}
    <div class="form-group">
      <label for="{{ form.name.id_for_label }}">Nombre: </label>
      {{ form.name }}
      {{ form.name.errors }}
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Save</button>
    <a class="btn btn-danger" href="{% url 'publisher-list' %}">Cancel</a>
  </form>
{% endblock maincontent%}